<div>
    <div id="test" class="" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><span class="fa fa-bug"></span></div>
    <div id="deployed" class="" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ 'Deployed'|trans }}"><span class="fa fa-rocket"></span></div>
    <div id="lock" class="label label-{{ writable?'success':'danger' }}" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><span class="fa fa-{{ writable?'unlock-alt':'lock' }}"></span></div>
    <br/>

    <pre id="editor">{{ editor_content }}</pre>

    <button id="btn_test" type="button" class="btn btn-primary"><span class="fa fa-bug"></span> {{ 'Testing'|trans }}</button>
    <button id="btn_deploy" type="button" class="btn btn-primary"><span class="fa fa-rocket"></span> {{ 'Deploy'|trans }}</button>
    
    <textarea readonly id="notify" class="form-control" rows="3"></textarea>


</div>
<hr>

<div id="loaded"></div>
