{% extends "Manager/common/layout.html.twig" %}



{% block content %}
{% include('Manager/common/editor.html.twig') %}
{% endblock %}

{% block sidebar %}
<ul class="nav nav-sidebar">
   
  {% for file in packages_filename %}
        
    <li {{ current_file == file?'class="active"':''}}>
   
        <a title="{{file}}" href="{{ path('package.edit', {packageFile: file}) }}">{{ file }}</a>
    

        
    </li>
         
  {% endfor %}
</ul>

{% endblock %}

{% block footer %}
{{ parent() }}
{% include('Manager/common/editor_script.html.twig') %}


{% endblock %}
